@import "tailwindcss";

:root {
  --background: #f4f7fb;
  --foreground: #111827;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: linear-gradient(
    135deg,
    #eef4ff 0%,
    #f8fafc 100%
  );

  color: var(--foreground);

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}